/* body{
    background-color: black;
}
.planet{
    position: absolute;
    z-index: 2;
}
.planet-small{
    width: 75px;
    height: 60px;
}

.planet-medium{
    width: 107px;
    height: 90px;
}

.planet-large{
    width: 173px;
    height: 143px;
} */
body{
    padding: 0;
    margin: 0;
}
#divCanvas {
    /* margin: -1px;  */
    background-color: #000; 
    position: absolute; 
}
#myCanvas{
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    margin: 1em;
}