body{
    background-color: black;
}
.planet{
    position: absolute;
}
.planet-small{
    width: 75px;
    height: 60px;
}

.planet-medium{
    width: 107px;
    height: 90px;
}

.planet-large{
    width: 173px;
    height: 143px;
}
canvas, body, html {
    margin: -1px; 
    background-color: #000; 
    position: absolute; 
}